@media screen and  (max-width: 700px){
	.about-author{
		width: 90%;
	}
	.about-author-info{
		width: 90%;
	}
	.w-e-title{
		float: none;
		margin-bottom: 25px;
	}
	.w-e-title-info{
		margin-left: 0;
	}
}
@media screen and  (max-width: 480px){
	.about-menu-nav{
		display: none;
	}
	.menu-nav-res{
		display: block;
	}
}
